.container-cards {
    width: 98%;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: 90%;
    max-width: 14.375rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 7px;
    box-shadow: 7px 7px 12px -10px rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-img {
    width: 3.5rem;
    height: 4.5rem;
    margin: 0 auto;
    border-radius: 7px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.card-header {
    margin-top: 20px;
}

.card-header h2 {
    text-align: center;
    margin: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body p {
    font-weight: 300;
}

.card-body button {
    font-weight: 300;
}

/* mapa */
.container-mapa {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    height: 25rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 7px 7px 15px -10px rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container-mapa iframe {
    width: 100%;
    height: 100%;
}

.container-direccion {
    margin-top: 10px;
    margin-bottom: 30px;
}

.container-direccion p {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.73);
    text-align: center;
    margin: 0;
}

@media screen and (min-width:992px) {
    .container-cards {
        margin: 60px auto;
    }

    .card-header h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }

    .container-mapa {
        height: 30rem;
    }
}