html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* variables */
:root {
    --text-white: #ffff;
    --text-dark: #1B262C;
    --primary: #0D2741;
    --primary-transparent: #0D2540;
    --secondary: #00D7FF;
    --info: #04533B;
    --danger: #F50000;
}

/* navbar */
.navbar {
    background-color: var(--primary);
    font-size: 1.2rem;
    height: 2.17em;
    width: 100%;
    overflow: hidden;
    transition: all .5s;
    position: fixed;
    z-index: 1;
}

.navbar-show {
    height: 160px;
}

.navbar-show-submenu {
    height: 250px;
}

/* navbar-brand */
.navbar-brand {
    position: absolute;
    left: 0;
    display: inline-flex;
    align-items: center;
    margin-left: .7em;
    z-index: 1;
}

.navbar-brand svg {
    color: var(--text-white);
}

.navbar-brand p {
    color: var(--text-white);
    font-family: 'Montserrat Alternates', sans-serif;
    margin: .5em;
}

/* navbar-icon */
.navbar-icon {
    display: inline;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    margin-top: .5em;
    margin-right: .7em;
    cursor: pointer;
    z-index: 1;
}

.navbar-icon>span {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background-color: var(--text-white);
    border-radius: 5px;
    transform-origin: 0;
    transition: all .5s;
}

.line1-icon-animation {
    transform: rotate(45deg);
}

.line2-icon-animation {
    opacity: 0;
    transform: translateX(-20px);
}

.line3-icon-animation {
    transform: translateY(2px) rotate(-45deg);
}

/* navbar-nav */
.navbar-nav {
    width: 100%;
    height: auto;
    transform: translateY(30px);
    font-size: .8em;
    color: var(--text-white);
    display: flex;
    align-items: center;
}

.navbar-nav a {
    text-decoration: none;
    color: var(--text-white);
    font-weight: 300;
    display: block;
}

.navbar-nav ul {
    width: 100%;
    list-style: none;
    margin-bottom: 4px;
    padding: 0;
    text-align: center;
    font-weight: 300;
}

.navbar-nav>ul>li {
    margin-bottom: 10px;
}

/* nav-list-productos */
.nav-list-productos {
    height: 40px;
    overflow: hidden;
    transition: all .5s;
}

.nav-list-productos-show {
    height: 8em;
}

.nav-list-productos-title {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    padding: 0;
    margin-top: 0;
}

.nav-list-productos svg {
    margin-left: 6px;
    padding-top: 1px;
    transition: all .5s;
}

.svg-rotar {
    transform: rotate(-180deg);
}

.nav-list-productos ul {
    background-color: var(--primary-transparent);
    padding: 10px 0px;
    font-size: .8em;
}

.nav-list-productos ul>li {
    padding-bottom: 10px;
}

/* header */
header {
    background-color: var(--primary);
    color: var(--text-white);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header::after {
    content: '';
    background-color: var(--secondary);
    width: 120%;
    height: 100%;
    position: absolute;
    transform: rotate(15deg) translateX(-20%) translateY(95%);
    left: 0;
    bottom: 0;
    -webkit-box-shadow: -6px -6px 20px -10px var(--secondary);
    -moz-box-shadow: -6px -6px 20px -10px var(--secondary);
    box-shadow: -6px -6px 20px -10px var(--secondary);
}

.header-title {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.header-title h1 {
    margin: 0;
    font-size: 3rem;
    margin-top: 1.3em;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.header-title-sub {
    display: flex;
    font-weight: 300;
    gap: .3em;
    margin-top: 0;
    font-size: 1rem;
}

.header-title-sub p {
    margin: 0;
}

.header-title-sub-list {
    width: auto;
    text-align: center;
    height: 1em;
    overflow: hidden;
}

.header-title-sub-list ul {
    list-style: none;
    color: var(--secondary);
    height: 100%;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

/* header logo */
.header-body {
    margin-top: .8em;
    margin-bottom: 3em;
    text-align: center;
}

.header-body .logo svg {
    width: 76px;
    height: 76px;
}

.header-body p {
    margin: 0;
    font-weight: 300;
    font-size: 1em;
}

/* main section 1 */
section {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

section h2 {
    font-size: 1.5rem;
    color: var(--primary);
}

.section-title-left {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    width: 90%;
    align-self: flex-start;
    text-align: end;
}

.section-title-right {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    display: inline-block;
    width: 90%;
    align-self: flex-end;
}

.bg-left {
    background-color: var(--secondary);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    border-bottom-right-radius: 35px;
}

.bg-right {
    background-color: var(--secondary);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-bottom-left-radius: 35px;
}

.container-img {
    width: 80%;
    max-width: 400px;
    height: 10%;
    max-height: max-content;
    overflow: hidden;
    margin: auto;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container-desc {
    width: 95%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.container-desc p {
    margin-top: 15px;
}

.container-desc button {
    width: 40%;
    max-width: 80px;
    align-self: center;
}

.btn-vermas {
    background-color: var(--secondary);
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
}

.btn-vermas a {
    text-decoration: none;
    color: var(--text-white);
    font-weight: 400;
}


/* animaciones */


/* mediaquerys */
